<div class="col-md-2">
	<div class="row">
		<img id="logo" src="/images/logo.9a70b71.png">
	</div>
	<h3 class="row text-center">
		Hello, <%= user.nick %>
	</h3>
	<ul class="nav nav-pills nav-stacked" role='tablist'>
		<% categories.forEach(function(category) { %>
			<li role='presentation'><a href="<%= category._id %>"><%= category.name %></a></li>
		<%	}) %>
	</ul><br>
	<form role="form" action="/newCategory" method="post">
      <div class="form-group">
	    <input type="text" class="form-control" name="category[name]" placeholder="问题种类名">
	  </div>
	  <button type="submit" class="btn btn-lg btn-info">添加</button>
    </form>
</div>

