<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
  <div class="row">
    <%- include adminLayout %>
    <div class="col-md-9">
      <%- include adminHeader %> 
        <h1>后台管理</h1>
    </div>
  </div>
  </body>
</html>
