<div class="alert alert-info row">
	<h2 class="col-md-11">CNSS招新平台后台管理</h2>
	<div style="margin-top:10px;" class="btn-group btn-group-lg">
	  <button type="button" class="btn btn-link"><a href="/logout">退出登录</a></button>
	</div>
</div>