<div class="col-md-2">
	<div class="row">
		<img id="logo" src="/images/logo.9a70b71.png">
	</div>
	<h3 class="row text-center">
		Hello, <%=  %>
	</h3>
	<ul class="nav nav-pills nav-stacked" role='tablist'>
		<li role='presentation'><a href="#">xxx</a></li>
		<li role='presentation'><a href="#">adsa</a></li>
		<li role='presentation'><a href="#">qqwrq</a></li>
	</ul><br>
	<div class="input-group">
      <input type="text" name="" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">添加题目种类</button>
      </span>
    </div>
</div>

