<div class="alert alert-info row">
	<h2 class="col-md-9">CNSS招新平台</h2>
	<div style="margin-top:10px;" class="btn-group btn-group-lg">
	  <button type="button" class="btn btn-link"><a href="#">排行榜</a></button>
	  <button type="button" class="btn btn-link"><a href="#">个人信息</a></button>
	  <button type="button" class="btn btn-link"><a href="#">退出登录</a></button>
	</div>
</div>