<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
  <div class="row">
    <%- include layout %>
    <div class="col-md-9">
      <%- include header %> 
        <ul class="nav nav-tabs" role="tablist">
          <% categories.forEach(function(category) { %>
            <li role="presentation" class="active"><a href="#"><%= category.name %></a></li>
          <% }) %>
        </ul><br>
        <table class="table">
          <tr>
            <td>排名</td>
            <td>昵称</td>
            <td>得分</td>
            <td>题目</td>
          </tr> 
          <tr>
            <td>1</td>
            <td>dsad</td>
            <td>asda</td>
            <td><a href="#">ada</a></td>
          </tr> 
        </table>
    </div>
  </div>
  </body>
</html>
