<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
  <div class="row">
    <%- include layout %>
    <div class="col-md-9">
      <%- include header %> 
        <h2 class="text-center"><%=  %>啦啦啦</h2>
        <table class="table">
          <tr>
            <td>题目</td>
            <td>分值</td>
            <td>截止日期</td>
            <td>tips</td>
          </tr> 
          <tr>
            <td><a href="#">asd</a></td>
            <td>dsad</td>
            <td>asda</td>
            <td><span class="label label-success">Success</span></td>
          </tr> 
        </table>
    </div>
  </div>
  </body>
</html>
